.paymnet__container {
    display: flex;
    width: 60vw;
    margin-top: 20px;
    flex-direction: column;
}

.PaymentPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeOrderBtn__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}