.item__container {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    border: 1.5px solid;
    border-radius: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.item__image {
    width: 40px;
    height: 40px;
}

.form-controls {
    width: auto;
}

.image__popup {
    position: fixed;
    /* or absolute */
    top: 0;
    left: 0%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.307);
    width: 100vw;
    height: 100vh;
}

.image__container {
    position: fixed;
    top: 23%;
    left: 28%;
}

.popup__image__size {
    width: 50vw;
    height: 50vh;
}

.description__containder {
    background-color: white;
    width: 50vw;
    height: 50vh;
    padding: 20px;
    overflow: scroll;
}