.item__container {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    border: 1.5px solid;
    border-radius: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.item__image {
    width: 40px;
    height: 40px;
}

.form-controls {
    width: auto;
}