    .navbar {
        width: 100%;
    }
    
    a.basket {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-left: 40px;
        width: 100%;
    }